<div class="signup-container">
    <form [formGroup]="signupForm" (ngSubmit)="signupUser()">
      <h2>新規登録</h2>
      <div class="form-group">
        <label for="name">名前</label>
        <input type="text" id="name" [formControl]="name" placeholder="名前を入力">
        <span *ngIf="name.errors?.['required']&&name.touched">※名前は必須項目です</span>
      </div>

      <div class="form-group">
        <label for="email">メールアドレス</label>
        <input type="email" id="email" [formControl]="email" placeholder="メールアドレスを入力">
        <span *ngIf="email.errors?.['required']&&email.touched">※メールアドレスは必須項目です</span>
        <span *ngIf="email.errors?.['email'] &&email.touched">※メールアドレスの形式が有効ではありません</span>
      </div>
      <div class="form-group">
        <label for="password">パスワード</label>
        <input type="password" id="password" [formControl]="password" placeholder="パスワードを入力">
        <span *ngIf="password.errors?.['required']&&password.touched">※パスワードは必須項目です</span>
        <span *ngIf="password.errors?.['minlength'] && password.touched">※パスワードは少なくとも6文字以上で入力してください</span>
      </div>
      <div class="form-group">
        <label for="confirmPassword">パスワード（再入力）</label>
        <input type="password" id="confirmPassword" [formControl]="confirmPassword" placeholder="パスワードを再入力">
        <span *ngIf="password.errors?.['required']&&confirmPassword.touched">※パスワードは必須項目です</span>
        <span *ngIf="signupForm.errors?.['mismatch']&&confirmPassword.touched">※同じパスワードを入力してください</span>
      </div>
      <span class="signup" *ngIf="errorMessage">{{errorMessage}}</span>
      <button type="submit">登録</button>
    </form>
  </div>
