<div class="login-container">
  <form [formGroup]="loginForm">
    <h1>MusleApp</h1>
    <h2>ログイン</h2>
    <div class="form-group">
      <label for="email">メールアドレス</label>
      <input type="email" id="email" formControlName="email"  placeholder="メールアドレスを入力してください"  />
      <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
          メールアドレスは必須です。
      </div>
      <div *ngIf="loginForm.get('email')?.hasError('email')">
        メールアドレス形式で入力してください。
    </div>
    </div>
    <div class="form-group">
      <label for="password">パスワード</label>
      <input type="password" id="password" formControlName="password" placeholder="パスワードを入力してください" />
      <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
          パスワードは必須です。
      </div>
      <div *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')">
          パスワードは少なくとも6文字以上で入力してください。
      </div>
    </div>
    <div class="errorMessage" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="button">
      <button type="button" class="btn btn-primary custom-btn" (click)="onLogin()" [disabled]="isLoginbuttobValid()">ログイン</button>
      <button type="button" class="btn btn-secondary custom-btn" routerLink="/signup">新規会員登録</button>    
    </div>
    
  </form>
  
</div>
