
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0d0d0ef2; 

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;
      text-align: left;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      div {
        color: red; 
        font-size: 12px;
      }
    }
    .errorMessage {
      color: red; 
      font-size: 12px;
      margin-top: 5px; 
    }
    
    
  
    .button {
      display:flex;
      flex-flow: column;
  
      .custom-btn {
        margin-bottom: 10px; 
      }
      .custom-btn.btn-primary {
        background-color: #5d0362b3;
        color: #fff;
        &:hover{
          background-color:#9506eed8 ;
        }
      }
    }
    height: 400px;
    width: 250px;
  }
  
}