<app-header></app-header>
<div class="recordWorkout-container">
    <h1>{{trainingDiscipline}}</h1>
    
    <form [formGroup]="workoutForm" (ngSubmit)="recordWorkout()">
        <div class="form-group">
            <label for="weight">重量</label>
            <input type="number" id="weight" [formControl]="weight" placeholder="重量を入力してください"> kg
            <span *ngIf="weight.errors?.['required']&&weight.touched">※重量は必須項目です</span>
        </div>
        <div class="form-group">
            <label for="reps">回数</label>
            <input type="number"  id="reps" [formControl]="reps" placeholder="回数を入力してください"> 回
            <span *ngIf="reps.errors?.['required']&&reps.touched">※回数は必須項目です</span>
        </div>
        <div class="form-group">
            <label for="memo">メモ</label>
            <input type="text" id="memo">
        </div>
        <span class="recordWorkout" *ngIf="errorMessage">{{errorMessage}}</span>
        <button type="submit">登録</button>
    </form>
 
</div>