<app-header></app-header>
<div class="recordWorkout-container">
    <h1>{{trainingDiscipline}}</h1>
    <div *ngFor="let form of workoutForms; let i = index">
        <form [formGroup]="form" (ngSubmit)="recordWorkout()">
            <div class="form-group">
                <label for="weight{{i}}">重量</label>
                <input type="number" id="weight{{i}}" formControlName="weight" placeholder="重量を入力してください"> kg
                <span *ngIf="form.get('weight')?.errors?.['required'] && form.get('weight')?.touched">※重量は必須項目です</span>
            </div>
            <div class="form-group">
                <label for="reps{{i}}">回数</label>
                <input type="number" id="reps{{i}}" formControlName="reps" placeholder="回数を入力してください"> 回
                <span *ngIf="form.get('reps')?.errors?.['required'] && form.get('reps')?.touched">※回数は必須項目です</span>
            </div>
            <div class="form-group">
                <label for="memo{{i}}">メモ</label>
                <input type="text" id="memo{{i}}" formControlName="memo">
            </div>
            <button type="button"  aria-label="Delete" (click)="removeWorkoutForm(i)">削除</button>
        </form>
    </div>
    
    <!-- 追加ボタン -->
    <button aria-label="Add" (click)="addWorkoutForm()">追加</button>

    <span class="recordWorkout" *ngIf="errorMessage">{{errorMessage}}</span>
    <button type="submit" aria-label="Submit" (click)="recordWorkout()">登録</button>
</div>
