<div class="bodypart-container">
    <div class="greeting">
        <p>部位を選んでください</p>
    </div>
    <div class="bodypart-buttons">
        <button class="btn chest-btn" routerLink="workout/chest">胸</button>
        <button class="btn back-btn" routerLink="workout/back">背中</button>
        <button class="btn leg-btn" routerLink="workout/leg">脚</button>
        <button class="btn shoulder-btn" routerLink="workout/shoulder">肩</button>
        <button class="btn arm-btn" routerLink="workout/arm">腕</button>
        <button class="btn abs-btn" routerLink="workout/abs">腹</button>       
    </div>
</div>
