<div class="bodypart-container">
    <div class="greeting">
        <p>部位を選んでください</p>
    </div>
   
    <div class="bodypart-buttons">
        <button type="submit" class="btn chest-btn" (click)="navigateToTrainingDiscipline('chest')">胸</button>
        <button type="submit" class="btn back-btn" (click)="navigateToTrainingDiscipline('back')">背中</button>
        <button type="submit" class="btn leg-btn" (click)="navigateToTrainingDiscipline('leg')">脚</button>
        <button type="submit" class="btn shoulder-btn" (click)="navigateToTrainingDiscipline('shoulder')">肩</button>
        <button type="submit" class="btn arm-btn" (click)="navigateToTrainingDiscipline('arm')">腕</button>
        <button type="submit" class="btn abs-btn" (click)="navigateToTrainingDiscipline('abs')">腹</button>       
    </div>
    <div>
    </div>
    
</div>
