<div class="workout-log">
    
    <h2>筋トレ記録確認</h2>
    <select name="selectedBodyPart" id="selectedBodyPart" [(ngModel)]="selctedBodyPart">
      <option value="胸">胸</option>
      <option value="背中">背中</option>
      <option value="肩">肩</option>
      <option value="脚">脚</option>
      <option value="腕">腕</option>
      <option value="腹筋">腹筋</option>
    </select>
    <button type="button" (click)="sortbyBodyPart()">検索</button>
    
    
    <table>
      <thead>
        <tr>
          <th>部位</th>
          <th>種目</th>
          <th>重さ</th>
          <th>回数</th>
          <th>RM</th>
          <th>日付</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of selectedWorkoutLogs">
          <td>{{ log.bodypart.name }}</td>
          <td>{{ log.training_discipline.name }}</td>
          <td>{{ log.weight }} kg</td>
          <td>{{ log.rep }}</td>
          <td>{{ log.RM }}</td>
          <td>{{ log.created_at | date: 'yyyy-MM-dd' }}</td>
        </tr>
      </tbody>
    </table>
    <app-chart [showButton]="this.showButton" [selectedWorkoutLogs]="this.selectedWorkoutLogs"></app-chart>
  </div>
  